<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaunchCamPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <LaunchCamPlus.Properties.Settings>
            <setting name="IsFirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseHexID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseLongID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUseYAZ0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEnforceCompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviousSplash" serializeAs="String">
                <value />
            </setting>
            <setting name="SplashSize" serializeAs="String">
                <value>846, 462</value>
            </setting>
            <setting name="IsIdentificationAssistOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseDefaultOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowAboutOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCompressPresets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreatorNameLast" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="EnableSFX" serializeAs="String">
                <value>True</value>
            </setting>
        </LaunchCamPlus.Properties.Settings>
    </userSettings>
</configuration>
